<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.menglingpeng.designersshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- URL Scheme启动 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- 该应用可以通过浏览器的连接启动 -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 该页面可以被隐式调用 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 协议部分 -->
                <data
                    android:host="@string/login_call_back"
                    android:scheme="@string/app_name" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.ShotDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop" />
        <activity android:name=".mvp.view.CommentsActivity" />
        <activity android:name=".mvp.view.BucketDetailActivity" />
        <activity android:name=".mvp.view.ChooseBucketActivity" />
        <activity android:name=".mvp.view.UserProfileActivity" />
        <activity android:name=".mvp.view.UserFollowingActivity"></activity>
    </application>

</manifest>